h1 {
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 0;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    

    color: rgb(239, 232, 232);
    text-shadow: 4px 4px 4px #2c2b2b;;
  }
btn {
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 0;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    

    color: rgb(0, 0, 0);
  }
  .new {
   
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: repeat ,repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }