<nav class="navbar navbar-inverse navbar-dark bg-dark navbar sticky-top " >
    <div class="container-fluid">
      <img src="https://s3.ap-south-1.amazonaws.com/townscript-production/images/58b2789d-efa2-41c2-9f13-be9566bb13bc.jpg" alt="IIT_Logo" style="height: 104px;">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="d-flex flex-row-reverse">
      
      <button class="btn btn-success navbar-btn" routerLink="/blog">Blog</button>
      <button class="btn btn-success navbar-btn" routerLink="/events">Events</button>
      <button class="btn btn-success navbar-btn" routerLink="/">Back</button>
    </div>
    </div>
  </nav>
  <div class="new" style=" width: 100%; height: 800px;background-image: url(../assets/images/mg16.avif) ;" >
    <h1 > AAVHAN 2023 <br> EVENTS  </h1> <h1><button>&darr;</button></h1><div></div>
  
    
    <!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
  margin: 15px;
  border: 1px solid #ccc;
  float: left;
  width: 200px;
  border-radius: 0px 0px 30px 5px;
  box-shadow: inset;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 300px;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
}
</style>
</head>
<body>
<div class="new" style="background: rgb(27, 27, 27); width: 99.8%; height: 1300px; " >
<div class="gallery">
  <a target="_blank" href="../assets/img/bsk.jpg">
    <img src="../assets/img/bsk.jpg" alt="Cinque Terre" width="600" height="400">
  </a>
  <div class="desc"><h2>BASKETBALL</h2></div>
</div>

<div class="gallery">
  <a target="_blank" href="../assets/img/crk.jpg">
    <img src="../assets/img/crk.jpg" alt="Forest" width="600" height="400">
  </a>
  <div class="desc"><h2>CRICKET</h2></div>
</div>

<div class="gallery">
  <a target="_blank" href="../assets/img/frs.jpg">
    <img src="../assets/img/frs.jpg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc"><h2>FRISBEE</h2></div>
</div>

<div class="gallery">
  <a target="_blank" href="../assets/img/ftb.jpg">
    <img src="../assets/img/ftb.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><H2>FOOTBALL</H2></div>
</div>
<div class="gallery">
  <a target="_blank" href="../assets/img/hky.jpg">
    <img src="../assets/img/hky.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><H2>HOCKEY</H2></div>
</div>
<div class="gallery">
  <a target="_blank" href="../assets/img/kbd.jpg">
    <img src="../assets/img/kbd.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><H2>KABADDI</H2></div>
</div>
<div class="gallery">
  <a target="_blank" href="../assets/img/kho.jpg">
    <img src="../assets/img/kho.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><H2>KHO - KHO</H2></div>
</div>
<div class="gallery">
  <a target="_blank" href="../assets/img/ltns.jpg">
    <img src="../assets/img/ltns.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><H2>LAWN TENNIS</H2></div>
</div>
<div class="gallery">
  <a target="_blank" href="../assets/img/new.jpg">
    <img src="../assets/img/new.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><H2>BADMINTON</H2></div>
</div>
<div class="gallery">
  <a target="_blank" href="../assets/img/swm.jpg">
    <img src="../assets/img/swm.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><H2>SWIMMING</H2></div>
</div>
<div class="gallery">
  <a target="_blank" href="../assets/img/tt.jpg">
    <img src="../assets/img/tt.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><H2>TABLE TENNIS</H2></div>
</div>
<div class="gallery">
  <a target="_blank" href="../assets/img/vly.jpg">
    <img src="../assets/img/vly.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><H2>VOLLEY BALL</H2></div>
</div>
<div class="gallery">
  <a target="_blank" href="../assets/img/wtl.jpg">
    <img src="../assets/img/wtl.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><H2>WEIGHT LIFTING</H2></div>
</div>
<div class="gallery">
  <a target="_blank" href="../assets/img/LNG.jpg">
    <img src="../assets/img/LNG.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><H2>LONG JUMP</H2></div>
</div>
<div class="gallery">
  <a target="_blank" href="../assets/img/RCK.jpg">
    <img src="../assets/img/RCK.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><H2>ROCK CLIMBING</H2></div>
</div>
<div class="gallery">
  <a target="_blank" href="../assets/img/SQS.jpg">
    <img src="../assets/img/SQS.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><H2>SQUASH</H2></div>
</div>
<div class="gallery">
  <a target="_blank" href="../assets/img/wtr.jpg">
    <img src="../assets/img/wtr.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><H2>WATER POLO</H2></div>
</div>
<div class="gallery">
  <a target="_blank" href="../assets/img/SHT.jpg">
    <img src="../assets/img/SHT.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc"><H2>SHOTPUT</H2></div>
</div>
<div class="input-group mb-3"></div>
<div class="bg-secondary" >



