h1 {
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
     text-shadow: 4px 4px 4px #2c2b2b;;
  }
  .new {
   
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: repeat ,repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }