
<nav class="navbar navbar-inverse navbar-dark bg-dark navbar sticky-top " >
    <div class="container-fluid">
      <img src="https://s3.ap-south-1.amazonaws.com/townscript-production/images/58b2789d-efa2-41c2-9f13-be9566bb13bc.jpg" alt="IIT_Logo" style="height: 104px;">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
      <div class="d-flex flex-row-reverse">
      
      <button class="btn btn-success navbar-btn" routerLink="/blog">Blog</button>
      <button class="btn btn-success navbar-btn" routerLink="/events">Events</button>
      <button class="btn btn-success navbar-btn" routerLink="/">Back</button>
    </div>
    </div>
  </nav>
  <div class="new" style=" width: 100%; height: 660px; background-image: url(../assets/images/gymkhana.jpg);" >
    <h1 >IIT BOMBAY PRESENTS <br>AAVHAN 2023  <br><img src="https://process.filestackapi.com/Ar1JhJgKrRMCHY5XInB1Iz/resize=width:742,fit:clip/cache=expiry:max/https://cdn.filepicker.io/api/file/joI1b3uCSeGNt5F7XMzM" alt="" style="height: 400px;"></h1> <div></div>
  <div >
  
  </div>
  <footer style="background-color: rgb(26, 26, 27); color: aliceblue ;height: 80px;">CONTACT US : 
    Param Shah  +91 98708 48435; &nbsp; Pratham Sanghavi  +919136783386; &nbsp; &nbsp; Prathamesh Deshmukh  +919146642583     </footer>
