<nav class="navbar navbar-inverse navbar-dark bg-dark navbar sticky-top " >
    <div class="container-fluid">
      <img src="https://s3.ap-south-1.amazonaws.com/townscript-production/images/58b2789d-efa2-41c2-9f13-be9566bb13bc.jpg" alt="IIT_Logo" style="height: 104px;">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="d-flex flex-row-reverse">
      
      <button class="btn btn-success navbar-btn" routerLink="/blog">Blog</button>
      <button class="btn btn-success navbar-btn" routerLink="/events">Events</button>
      <button class="btn btn-success navbar-btn" routerLink="/">Back</button>
    </div>
    </div>
  </nav>
  <div class="new" style=" width: 100%; height: 800px;background-image: url(../assets/images/sample.jpg) ;" >
   <div class="container">
    <img src="https://process.filestackapi.com/Ar1JhJgKrRMCHY5XInB1Iz/resize=width:742,fit:clip/cache=expiry:max/https://cdn.filepicker.io/api/file/joI1b3uCSeGNt5F7XMzM" alt="" style="height: 200px;"></div>
    <div class="sticky-top" style=" width: 100%; height: 660px;" >
        <h1 > AAVHAN 2023</h1> <div></div>
      <div >
    <div style="color: aliceblue;"><h3>Aavhan, the annual sports fest of IIT Bombay,<br> synonymous with what it stands for,<br> bringing over 6000 people together from 150+ <br> colleges to compete, <br> persevere and rejoice in the 3 day sporting <br> extravaganza, spanning 15+ sports.</h3></div> 
    <div style="color:rgb(249, 243, 243)"> <p> Aavhan is one of the most eagerly anticipated events on the institute's calendar. It is an annual extravaganza that brings together athletes from all over India to compete in a variety of sports and showcase their skills. Aavhan is not only a platform for athletes to showcase their talent, but it is also a celebration of sportsmanship, teamwork, and dedication. </p>

        <p> The Aavhan festival is a three-day event, usually held in the month of December, which features a wide range of sports such as basketball, cricket, football, volleyball, badminton, table tennis, and many others. The fest also features some unique events such as dodgeball, ultimate frisbee, and kabaddi. The festival is open to athletes from all over India and attracts a large number of participants every year. </p>
        
        <p> One of the most significant highlights of Aavhan is the high level of competition. Athletes from all over India come to IIT Bombay to participate in this event, making it a highly competitive affair. The competition is intense, and athletes have to give their best to emerge victorious. The festival also features some exciting matches, such as the football and basketball finals, which attract a large number of spectators.  </p>
        
        <p> Apart from the competitive events, Aavhan also features some fun and entertaining events, such as the sports quiz and the sports fashion show. The sports quiz tests the participants' knowledge of sports, while the fashion show allows athletes to show off their fashion sense and style. </p>
        
        <p> One of the most striking features of Aavhan is the sense of community and camaraderie it creates. The festival brings together athletes from all over India, who bond over their love for sports and competition. The festival is an excellent opportunity for athletes to network and make new friends. </p>
        
        <p> In conclusion, IIT Bombay's sports fest Aavhan is an event that every sports enthusiast should attend. It is a celebration of sports, competition, and teamwork. The festival features a wide range of sports, exciting matches, and fun events, making it a must-attend event. Aavhan not only provides a platform for athletes to showcase their talent but also fosters a sense of community and camaraderie among them. </p></div>