
/* The element to apply the animation to */
  .container{
    width: 50px;
    height: 50px;
    position: relative;
    align-items: end;
   
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
/* The animation code */
@keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
  }
  
  h1 {
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(249, 243, 243);
  }